.header1{
    margin: 0;
    font-size: 80px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-left: 20px solid;
    border-right: 20px solid;
    color: midnightblue;
    background-color:gold;
    text-align: center;
}
.header2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:midnightblue;
    border-bottom: 5px solid;
    border-color: gold;
    text-align: center;
}
.div1{
    margin: auto;
    width: 50%;
}
.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }